center
	br
	br
	u
		b
			a Welcome to E422MATCH.COM

form(method="GET", action="/logon")
	center
		br
		br
		br
		br
		br
		label Username: 
		input#username(type="text", name="username")
		br
		label #{error }
		br
		br
		input#submit(type="submit", name="button", value="Survey")
		&nbsp
		&nbsp
		input#submit(type="submit", name="button", value="Match")

		